/* src/index.css */
/* 1. Importa directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Tus estilos globales adicionales */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Ejemplo: Override de enlace */
a {
    @apply text-blue-600 hover:underline;
}